body{
    font-family: Georgia, sans;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.fullwidthbar{
    padding: 5px;
    margin: 3px;
    background: #eee;
    color: #fff;
    border-radius: 3px;
    border: #ddd solid 1px;
}

.fullwidthbar a{
    font-family: Arial, sans-serif;
    text-decoration: none;
}