html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    overflow: hidden;
}

#full {
    height: 100%;
}

body{
    font-family: Georgia, sans;
    border: 0px;
    margin: 0px;
}

.fullwidthbar{
    padding: 5px;
    margin: 3px;
    background: #eee;
    color: #fff;
    border-radius: 3px;
    border: #ddd solid 1px;
}

.fullwidthbar a{
    font-family: Arial, sans-serif;
    text-decoration: none;
}

.main{
    background: #F8F8F8;
    border-radius: 5px;
    border: 1px #888 solid;
    box-shadow: 0px 0px 3px #AAA;
    margin: 5px;
    padding: 5px;
}

.status{
    font-family: Droid Sans Mono;
    font-size: 10pt;
    text-align: center;
    width: 100%;
    color: #000;
}

.titlerow{
    background: #000;
    color: #fff;
    text-align: center;
    font-weight: bolder;
}

.bugsummaryrow td{
    border-bottom: #ccc solid 1px;
    font-family: Droid Sans Mono;
    font-size: 12px;
}

.bugsummaryrow:hover{
    background: #eef;
}

.bugsummarydesctd{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 100px;
}

.summarydesc{
    color: #888;
}

.buglight{
    background: #dde;
}

.bugdark{
    background: #edd;
}

.navpg{
    background: #a60;
    color: #fff;
    border: #840 solid 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    text-decoration: none;
    font-family: Droid Sans Mono;
}

.navpg:hover{
    background: #c82;
    color: #fff;
}

.currentpg{
    background: #c82;
    color: #fff;
    border: #840 solid 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    text-decoration: none;
    font-family: Droid Sans Mono;
}

.currentpg:hover{
    background: #ea4;
    color: #fff;
}

.bugdescription code{
    font-family: Droid Sans Mono;
    font-size: 1em;
}

.usergravatar{
    border: 2px #888 solid;
    border-radius: 3px;
}

.navdot{
    color: #ea4;
    -webkit-text-stroke: #852 1px;
}