/* Main CSS */
@import url('http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Sorts+Mill+Goudy|Coda:400,800');

.doccontainer{
    width:1024px;
    margin-left: auto;
    margin-right: auto;
}

body{
    margin:0px;
    padding:0px;
    border:0px;
    font-family: arial, sans-serif;
}

body h1{
    font-family: "Coda";
    font-size: 2em;
    color: #48f;
    padding: 0px;
    margin: 0px;
}

body h2{
    font-family: "Coda";
    font-size: 1.5em;
    color: #444;
    padding: 0px;
    margin: 0px;
}

a{
    color: #000080;
}

.typewriter{
    font-family: "gtw";
}

.din{
    font-family: "osp-din";
}

.topbar{
    width: 100%;
    background: #FFFFFF;
    height: 31px;
}

.topbar a{
    color: #229900;
    font-family: "osp-din";
    font-weight: bold;
    font-size: 1.5em;
}

.topmenu{
    float:right;
    width:29px;
    height:28px;
    background: url("/files/img/leftsep.png") top left no-repeat;
}

.topmenu:hover{
    background: url("/files/img/leftsep.png") top left no-repeat,
        url("/files/img/bggrad.png") top right no-repeat;
}

.topmenu a:hover{
    padding:0px;
}

.signin a{
    font-family: "djvscb";
    color: #0088ff;
    font-size: 1em;
    text-decoration: underline;
}

.signin a:hover{
    font-family: "djvscb";
    color: #0088ff;
    font-size: 1em;
    text-decoration: underline;
}

.mainbar{
    width: 100%;
    background: #eeeeee;
    padding-top: 0px;
    padding-bottom: 4px;
    border-top:    1px #CCCCCC solid;
    border-bottom: 1px #CCCCCC solid;
}

.title h1{
    font-size: 2em;
    color: #fff;
    text-shadow: #000 1px 1px 0px;
    padding: 0px;
    margin: 0px;
}

.title{
    font-family: 'osp-din';
    font-size: 1.2em;
    text-shadow: #FFFFFF 2px 2px 0px;
}

.title a{
    font-family: 'osp-din';
    font-size: 1em;
    text-shadow: #FFFFFF 2px 2px 0px;
}

.footer{
    background: #444;
    color: #fff;
    text-shadow: #000 1px 1px 0px;
    padding-top:10px;
    border-top: 2px #000 solid;
}

.footer a{
    color: #ddf;
}

.maincontent{
    width:100%;
}

.tags a{
    color: #000080;
    padding: 3px;
    line-height: 35px;
    font-size: 0.8em;
}

.signinformin{
    width: 800px;
    height: 400px;
    border: 2px solid #000;
    margin: 1px;
    padding: 2px;
    background: #ffffff;
    font-size: 0.8em;
}

.signinform{
    z-index: 2;
    position: absolute;
    top: 35px;
    right: 10px;

    background: #ffffff;
    border: 1px #000 solid;
    visibility: hidden;
}

/*Post*/

.post h2, h2 a{
    font-family: 'effloresceb';
    font-size: 1.5em;
    text-decoration: none;
    color: #888;
    margin: 0px;
    padding: 0px;
}

.post h2 a:hover{
    font-size: 1.5em;
    font-family: 'effloresceb';
    background: #dddddd;
    margin: 0px;
    padding: 0px;
}

.post h1, h1 a{
    font-family: 'arial';
    color: #888;
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
}

/*sersp (summaries)*/
.serps h2, h2 a{
    font-family: 'arial';
    font-size: 0.6em;
    text-decoration: none;
    color: #888;
    margin: 0px;
    padding: 0px;
}

.serps h2 a:hover{
    font-size: 0.6em;
    font-family: 'arial';
    background: #dddddd;
    margin: 0px;
    padding: 0px;
}

.serps h1, h1 a{
    font-family: 'arial';
    color: #888;
    font-size: 0.6em;
    margin: 0px;
    padding: 0px;
}

.emsg{
    font-size: 0.8em;
    font-weight: bold;
    color: #800000;
}

.lerror{
    color: #800;
    font-weight: bold;
    width: 100%;
    text-align:right;
}

.lok{
    padding:2px;
}

.lok, .lok a{
    font-weight: bold;
    color: #080;
    font-size: 1em;
    font-family: "Trebuchet MS";
    text-decoration: none;
}

.lok:hover{
    background: #eef;
}

.lok img{
    padding-bottom:4px;
}

.usermenu{
    border: 1px #000 solid;
    background: #dddddd;
    width:150px;
    visibility: hidden;
    z-index: 2;
    position: absolute;
    top: 35px;
    right: 47px;
    text-align: left;
    font-family: "Trebuchet MS";
    box-shadow: #000 2px 2px 6px;
}

.usermenu a{
    font-family: "Sans";
    font-size: 0.9em;
    color: #444444;
    text-decoration: none;
    text-shadow: #ffffff 1px 1px 0px;
}

.tasksmenu{
    border: 1px #000 solid;
    background: #dddddd;
    width:200px;
    visibility: hidden;
    z-index: 2;
    position: absolute;
    top: 35px;
    text-align: left;
    box-shadow: #000 2px 2px 6px;
}

.tasksmenu a{
    font-family: "Sans";
    font-size: 0.9em;
    color: #444444;
    text-decoration: none;
    text-shadow: #ffffff 1px 1px 0px;
}

.mitem{
    font-size: 0.9em;
    padding: 4px;
}
.mitem:hover{
    background: #eeeeff;
}

.greeting{
    background: #48f;   /*#ce6630;*/
    color: #FFFFFF;
    text-shadow: #000 1px 1px 1px;
    font-size: 1.3em;
    font-family: "Trebuchet MS";
}

.postline{
    width: 100%;
    overflow: hidden;
    /*	height: 36px;*/
    color: #666;
    font-size: 0.8em;
}

.postline a{
    font-family: Georgia;
    color: #004;
    font-size: 1.2em;
}

.oneline{
    width: 100%;
    overflow: hidden;
    height: 18px;
    color: #666;
    font-size: 0.8em;
}

.oneline a{
    font-family: Georgia;
    color: #004;
    font-size: 1.2em;
}

.packages{
    font-family: Georgia;
}

.packages a{
    font-family: Arial;
    font-size: 0.7em;
}

.pkgcontainer{
    height: 15px;
    padding: 1px;
}

.package{
    overflow: hidden;
    width: 210px;
}

.package:hover{
    z-index:2;
    width: auto;
    position: absolute;
    background: #ffffff;
    overflow: visible;
}

.bcrumb {
    background: #48f; /*#48f;*/
    color: #ffffff;
    text-shadow: #444 -1px -1px 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*width: 90%;*/
    text-align:left;
    font-size: 0.8em;
    padding: 3px;
    padding-left: 15px;
    font-family: arial;
}

.bcrumb a{
    color: #fff;
    font-weight: bold;
}
